.watermark{
    color:yellow;
    background-color:#ffff(247, 242, 242);
    height:30px;
    width:100px;
    display:flex;
    align-items:center;
    justify-content:center;
    position:fixed;
    bottom:5px;
    right:5px;
    }
    .banner{
        padding: 150px 0;
        background-image:linear-gradient(rgb(0,0,0,0.8),rgb(0,0,0,0.8));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner h1{
        color: #fff;
    }
    .banner p{
        color: #fff;
    }